*.mli
*.hi
*.o
*.aux
/lia.cache
/nlia.cache
/codegen
_build
/disk.img
/Makefile.coq
/fstest
/hstest
/gotest
/fuse
/mkfs
/coqbuild
/#*#
/.coq-native
Makefile.coqproof
/code.v
/top-specs.v
/all-specs.v
