*.mli
*.hi
*.o
*.aux
/.lia.cache
/.nia.cache
/codegen
_build
/disk.img
/Makefile.coq
/fstest
/hstest
/gotest
/fscq
/mkfs
/mlfuse
/mlmkfs
/coqbuild
/#*#
/.coq-native
Makefile.coqproof
/code.v
/top-specs.v
/all-specs.v
/hscgen
/ocamlfuse/Fuse_bindings.h
/ocamlfuse/Fuse_bindings.ml
/ocamlfuse/Fuse_bindings_stubs.c
/ocamlfuse/*.d
/ocamlfuse/*.di
/ocamlfuse/*.a
*.cmi
*.cmx
*.cmxa
*.prof
/hslib/libopfuse.a
